{% extends 'base.html' %}

{% block title %}Trang Chủ{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Danh Sách Sách</h2>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.author }}</p>
                    <p class="card-text">Giá: {{ book.price }} VNĐ</p>
                    <a href="#" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Không có sách nào.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
